*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#0f172a;
    color:white;
}

header{
    background:#111827;
    padding:20px;
    position:sticky;
    top:0;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

.hero{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    padding:60px 20px;
}

.hero-text{
    max-width:500px;
}

.hero-text h1{
    font-size:50px;
    color:#38bdf8;
}

.hero-text h2{
    margin:15px 0;
}

.hero-text p{
    margin-bottom:20px;
}

.btn{
    background:#38bdf8;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:8px;
}

.hero img{
    width:280px;
    border-radius:50%;
    border:5px solid #38bdf8;
    margin:20px;
}

section{
    padding:60px 20px;
}

.skills{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

.skill{
    background:#1e293b;
    padding:15px 25px;
    border-radius:10px;
}

footer{
    text-align:center;
    padding:20px;
    background:#111827;
}
