*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#0f172a;
    color:white;
}

header{
    background:#111827;
    padding:20px;
    position:sticky;
    top:0;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    min-height:100vh;
    padding:80px 10%;
    gap:60px;
}

49  .left,
50  .right{
51      flex:1;
52      display:flex;
53      justify-content:center;
54      align-items:center;
55  }
56  .left{
57      flex-direction:column;
58      align-items:flex-start;
59      max-width:500px;
60  
 }


.left h1{
    font-size:50px;
    color:#38bdf8;
}

.left h2{
    margin:15px 0;
}

.left p{
    margin-bottom:20px;
}

.btn{
    background:#38bdf8;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:8px;
}
.right img{
    width: 280px;
    border-radius: 50%;
    border: 5px solid #38bdf8;
}

.right img{
    width:280px;
    border-radius:50%;
    border:5px solid #38bdf8;
    margin:20px;
}

section{
    padding:60px 20px;
}

.skills{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

.skill{
    background:#1e293b;
    padding:15px 25px;
    border-radius:10px;
}

footer{
    text-align:center;
    padding:20px;
    background:#111827;
}.typing-text{
    .typing-text{
    font-size:32px;
    font-weight:bold;
    color:white;
    margin:15px 0;
    min-height:45px;
}
    font-size:32px;
    font-weight:bold;
    color:white;
}

.typing-text span{
    color:#00bfff;
    border-right:3px solid #00bfff;
    animation: blink .7s infinite;
}

@keyframes blink{

50%{
border-color:transparent;
}

}
.buttons{
    display:flex;
    gap:15px;
    margin-top:25px;
}

.btn2{
    background:transparent;
    border:2px solid #38bdf8;
    color:#38bdf8;
}

.btn2:hover{
    background:#38bdf8;
    color:#111827;
}
.left{
    flex:1;
}

.right{
    flex:1;
    display:flex;
    justify-content:center;
}

.right img{
    width:320px;
    border-radius:50%;
    border:5px solid #38bdf8;
}
#projects{
    padding:80px 10%;
    text-align:center;
}

.projects{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
    margin-top:40px;
}

.project-card{
    width:300px;
    background:#1f2937;
    padding:25px;
    border-radius:12px;
    transition:0.3s;
}

.project-card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 20px #38bdf8;
}

.project-card h3{
    color:#38bdf8;
    margin-bottom:15px;
}

.project-card p{
    margin-bottom:20px;
}
